html, body, .pix-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
.pix-wrapper {
  position: relative;
}
.pix-panel {
  position: absolute;
  top: 0;
  right: 0;
  width: 25%;
  z-index: 2;
}
.pix-panel h3 {
  margin-top: 0px;
}
@media (max-width: 1200px) {
  .pix-panel{
    width: 35%;
  }
}
@media (max-width: 992px) {
  .pix-panel {
    width: 45%;
  }
}
@media (max-width: 768px) {
  .pix-panel {
    width: 100%;
  }
  .gmnoprint {
    bottom: 0 !important;
    top: initial !important;
  }
}
#map {
  height: 100%;
}
.pix-down, .pix-down:hover {
  background: khaki !important;
}
.pix-upload-flight {
  position: fixed;
  top: -1000px;
}
.pix-or {
  text-align: center;
  padding: 10px;
}
